template(name="features_1")
  section.features
    h1.title Key features
    .row.l-clearfix
      .col1.l-align-left
        .icn
          img.icon(src="http://i.imgur.com/t4PGCDm.png", alt="agenda")
        h2.feat-title
          | Manage your schedule
        p.subheading
          | Give your attendees the autonomy to build and manage their personal schedule.
      .col1.l-align-left
        .icn
          img.icon(src="http://i.imgur.com/t4PGCDm.png", alt="agenda")
        h2.feat-title
          | Manage your schedule
        p.subheading
          | Give your attendees the autonomy to build and manage their personal schedule.
      .col1.l-align-left
        .icn
          img.icon(src="http://i.imgur.com/t4PGCDm.png", alt="agenda")
        h2.feat-title
          | Manage your schedule
        p.subheading
          | Give your attendees the autonomy to build and manage their personal schedule.
      .col1.l-align-left
        .icn
          img.icon(src="http://i.imgur.com/t4PGCDm.png", alt="agenda")
        h2.feat-title
          | Manage your schedule
        p.subheading
          | Give your attendees the autonomy to build and manage their personal schedule.
      .col1.l-align-left
        .icn
          img.icon(src="http://i.imgur.com/t4PGCDm.png", alt="agenda")
        h2.feat-title
          | Manage your schedule
        p.subheading
          | Give your attendees the autonomy to build and manage their personal schedule.
